.blog{
    width:100%;
    margin:4rem 0;
    &_container{
        width:85vw;
        margin:0 auto;
        display: grid;
        grid-template-columns: 1fr 25%;
        grid-gap:5rem;
        .blog_left{
            .blog_left_content{
                h1.heading {
                    text-align: center;
                    margin-bottom: 1rem;
                    font-size: 3.4rem;
                    
                    color: gray;
                }
                .single_blog{
                    .single_blog_img{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .single_blog_title {
                        font-size: 1.6rem;
                        margin-top: 2rem;
                        text-align: center;
                        letter-spacing: 1px;
                        word-spacing: 1px;
                    }
                    .single_blog_footer {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        border-top: 1px dashed gray;
                        border-bottom: 1px dashed gray;
                        margin: 2rem 0 3.5rem 0;
                        padding:2.4rem;
                        p{
                            font-size:1.5rem;
                        }
                        p:nth-child(2){
                            margin-left:2rem;
                        }
                        .comment_count {
                            margin-left: auto;
                        }

                    }
                }
                .dual_blog {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 3rem;
                    margin-top: 3rem;
                    .dual_blog_item{
                        .single_blog_img{
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                        .single_blog_text{
                            .dual_title {
                                text-align: center;
                                margin: 1rem 0;
                                font-size: 2.5rem;
                                text-transform: capitalize;
                            }
                            p {
                                text-align: center;
                                font-size: 1.5rem;
                                color:gray;
                                line-height: 1.7;
                                margin-bottom: 1.5rem;
                            }
                        }
                        .single_blog_footer {
                            margin: 2rem;
                            border-top: 1px dashed gray;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 1.5rem;
                            p{
                                font-size:1.5rem;
                            }
                            p:last-child{
                                margin-left:2rem;
                            }
                        }
                    }
                }
                .comment_area {
                    margin: 3.5rem 0;
                    h1 {
                        text-transform: uppercase;
                        margin-bottom: 1.8rem;
                        color:gray;
                    }
                    .comment_container{
                        display: flex;
                        flex-direction: column;
                        row-gap: 2.5rem;
                        .comment_box {
                            display: flex;
                            column-gap: 1.5rem;
                            align-items: center;
                            img{
                                border-radius: 50%;
                            }
                            .comment_box_info{
                                .comment_box_contnt {
                                    display: flex;
                                    align-items: center;
                                    h5.username {
                                        font-size: 2rem;
                                        font-weight: 800;
                                    }
                                    small.dae {
                                        margin-left: 2rem;
                                        font-size: 1.6rem;
                                    }
                                    .reply_btn {
                                        display: inline-block;
                                        background: lightgray;
                                        padding: .6rem 2rem;
                                        font-size: 1.4rem;
                                        border-radius: 2rem;
                                        letter-spacing: 1px;
                                        color: black;
                                        margin-left: auto;
                                    }
                                }
                                .main_comment {
                                    font-size: 1.4rem;
                                    color: gray;
                                    margin-top:1.5rem;
                                }
                            }
                        }
                    }
                }
                .leave_comment {
                    margin: 3.5rem 0;
                    h1 {
                        text-transform: uppercase;
                        margin-bottom: 1.8rem;
                        color:gray;
                    }
                    #comment_form {
                        margin-top: 2rem;

                        .input_control {
                            display: flex;
                            align-items: center;
                            column-gap: 2rem;
                            input[type="text"] {
                                display: block;
                                width: 50%;
                                padding: .8rem 1.5rem;
                          
                                border: 1px solid lightgray;
                                font-size: 1.4rem;
                                border-radius: 1rem;
                            }
                        }
                        .textarea_control {
                            margin-top: 2rem;
                            width: 100%;
                            textarea {
                                width: 100%;
                                border: 1px solid lightgray;
                                border-radius: 1rem;
                                padding: .8rem 1.5rem;
                                font-size: 1.4rem;
                            }
                        }
                        input#post_comment {
                            margin-top: 2rem;
                            background: $royalorange;
                            border: none;
                            padding: 1rem 2rem;
                            font-size: 1.5rem;
                            color: white;
                        }
                    }
                }
            }
        }
        .blog_right{
            .search_box {
                display: flex;
                align-items: center;
                background-color:  #d3d3d399;
                border-radius: 3rem;
                justify-content: space-between;
                padding: 1.5rem;
                position: relative;
                input{
                    border:none;
                    background-color: transparent;
                }
                .fas.fa-arrow-right {
                    background-image: linear-gradient(to right,orange,rgb(252,99,65));
                    width: 4.5rem;
                    height: 4.5rem;
                    position: absolute;
                    right: 0rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color:white;
                    font-size:1.5rem;
                }
            }
            .categories {
                margin: 3.5rem 0;
                box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 30%);
                padding:1.5rem 0rem;
                border-radius: 1rem;
                h1 {
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 1.8rem;
                    color:gray;
                }
                ul {
                    margin-top: 1rem;
                    li{
                        padding: .8rem 0rem;

                        a{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 1.6rem;
                            color:black;
                            margin:0 1.6rem;
                            text-transform: capitalize;

                            span {
                                background: lightgray;
                                width: 3rem;
                                height: 3rem;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        &:hover{
                            border-left:.2rem solid orange;
                            background-image: linear-gradient($lightorange,$lightorange);
                        }
                        &:hover span{
                            background-image: linear-gradient(to right,orange,rgb(252,99,65));
                            color:white;
                        }
                    }
                }
            }
            .archives{
                @extend .categories;
            }

            .tags{
                margin: 3.5rem 0;
                box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 30%);
                padding:1.5rem;
                border-radius: 1rem;
                text-transform: capitalize;
                h1 {
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 1.8rem;
                    color:gray;
                }
                .tags_wrapper{
                    margin-top:1.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    column-gap: .5rem;
                    row-gap:.5rem;
                    a{
                        background-color: lightgray;
                        color:black;
                        font-size:1.5rem;
                        padding:.8rem 1.5rem;
                        border-radius: 2rem;
                       
                    }
                }
               
            }
            .recent_post {
                margin: 3.5rem 0;
                box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 30%);
                padding:1.5rem;
                border-radius: 1rem;
                text-transform: capitalize;
                h1 {
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 1.8rem;
                    color:gray;
                }
                ul {
                    margin-top: 1rem;
                    display: flex;
                 flex-direction: column;
                 row-gap: 1.5rem;
                    li{
                        a{
                            display: flex;
                            align-items: center;
                            column-gap: .6rem;
                            span{
                                .title {
                                    font-size: 1.4rem;
                                    color: gray;
                                    white-space: nowrap;
                                    line-height: 1.7;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    max-width: 16rem;
                                }
                                small {
                                    font-size: 1.2rem;
                                    color: $royalorange;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }

            }
            
        }
    }
}