$dark_orange: rgb(252,99,65);
$orange_400:rgb(251,149,64);
$main_txt:rgb(59,86,110);
$royalblue:#2643e9;
$lightblue:#c4cbf5;
$royalgreen:#1fc283;
$twittercolor:#1DA1F2;
$lightgreen:#a9ecd0;
$royalorange:#fb6353;
$lightorange:#fdc5b8;
$service_bg:#f7fafd;